body {
  background-color: rgb(248, 227, 230);
}
#left {
  background-color: white;
  margin-left: 100px;
  margin-top: 50px;
  width: 30%;
  height: 700px;
  border-radius: 30px;
}
header {
  padding-top: 20px;
  padding-left: 20px;
}
.header__flexbox {
  position: relative;
  left: 510px;
  bottom: 20px;
}
.main__img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: relative;
  left: 230px;
}
.first__word {
  display: flex;
  justify-content: center;
}
.btn {
  position: relative;
  left: 150px;
  width: 130px;
  height: 33px;
  border-radius: 15px;
  color: white;
}
#btn {
  background-color: black;
}
.btn:last-child {
  color: gray;
  border: white;
}
.btn__icon {
  color: black;
}
